

@import url('https://fonts.googleapis.com/css?family=Arvo');

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3, .backToTop {
  position: relative;
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("img/dsds.JPG");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("img/uw_campus.jpg");
  min-height: 52%;

}

.bgimg-3 {
  background-image: url("img/IMG_0272.PNG");
  min-height: 400px;
}

/*************************************************************


                          NAV BAR


**************************************************************/
.container {
  margin-top: 20px;
  margin-right: 9%;
  float: right;
  width: auto;
}

/* The navbar */
.topnav {
  overflow: hidden;
}

/* Navbar links */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Arvo', serif;
  font-size: 20px;
}

a:hover {
  color: yellow;
}

/*************************************************************


                        MAIN PAGE TITLE


**************************************************************/
.name {
	width: 500px;
	height: 100px;
	background-color: none;
  font-family: 'Arvo', serif;
  font-size: 47px;
  color: black;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}


/*************************************************************


                        FOOTER


**************************************************************/
/*
.footer{
  text-align: center;
  vertical-align: middle;
  background-color: #404040;
}

footer img{
  max-height: 55px;
}

.circle{
  border-radius: 50%;
  height: 55px;
  width: 55px;
  margin: auto;
  background-color: white;
}
*/








.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}



.hidden {
  /* Used to override other display properties,
   * .hidden should always take highest precedence */
  display: none !important;
}
